h1{
	text-align: center;
	color:#8A2BE2;
}
h2{
	text-align: center;
}
.wrapper{
	width: 900px;
    margin: 0 auto;
  }
a:link{
	text-decoration: none;
	color: #FF8C00;
}
a:visited{
	text-decoration: none;
	color: #FF8C00;
}
a:active{
	text-decoration: underline;
}
.facebooktwitter{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #8A2BE2;
	line-height: 5px;
	padding: 5px;
}
.left{
	float: left;
	width: 50%;
	background-color: #00BFFF;

}
.right{
	float: left;
	width: 50%;
	background-color:#7CFC00;
}
.leftthird{
	float: left;
	width:25%;
	background-color:#00BFFF;
	height: 1000px;
}
.middlethird{
	float: left;
	width: 50%;
	background-color: #7CFC00;
	height: 1000px;
}
.rightthird{
	float: left;
	width: 25%;
	background-color: #00BFFF;
	height: 1000px;
}
.books{
	padding: 40px;
}

.imagegallery{
	float: left;
	width: 110px;
	height: 170px;
	margin-right: 40px;
}